// Place all the styles related to the Cinemas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

section {
  margin: auto 15vw;
  height: 50vh;
  background-color: goldenrod;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.74);
  .title {
    padding-top: 1rem;
    text-align: center;
  }
  .choose-cinema-title {
    font-size: medium;
  }
  .cinema-list-container {
    margin-top: 1rem;
    padding: 1.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .cinema-btn {
      color: white;
      text-align: center;
      text-decoration: none;
      margin: 5px;
      padding: 1rem;
      width: 50%;
      background-color: dodgerblue;
      border-radius: 15px;
      box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.74);
      &:hover {
        box-shadow: 5px 5px 15px -8px rgba(0,0,0,0.74);
      }
    }
  }
}
