// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.movie {
  background-color: red;
  height: 80%;
  margin: 1rem;
  width: 80%;
}

.movie-collection {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-image {
  width: 100%;
  height: 100%;
}

.movie-title-container {
  display: flex;
  flex-direction: column;
}

.movie-title {
  align-self: center;
  margin: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 1rem;
  width: 50%;
  background-color: dodgerblue;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.74);
  &:hover {
    box-shadow: 5px 5px 15px -8px rgba(0,0,0,0.74);
  }
}

.back-btn {
  margin: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 1rem;
  width: 50%;
  background-color: rgb(177, 255, 31);
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.74);
  &:hover {
    box-shadow: 5px 5px 15px -8px rgba(0,0,0,0.74);
  }
}