<section>
  <div class="title">
    <h1>Welcome to DCCinema</h1>
    <p class="choose-cinema-title">Choose your cinema</p>
  </div>
  <div class="cinema-list-container">
    <% @cinemas.each do |cinema| %>
      <%= link_to cinema.name.to_s, cinema, class: "cinema-btn" %>
    <% end %>
  </div>
</section>
<%= link_to 'Logout', home_index_path, class: "back-btn" %>
<%# sign_out_and_redirect(current_user) %>
