<section>
  <div class="title">
    <h1>Welcome to DCCinema</h1>
    <p class="choose-cinema-title">Choose your cinema</p>
  </div>
  <div class="cinema-list-container">
    <%= link_to "Login", new_user_session_path, class: "cinema-btn" %>
    <%= link_to "Register", new_user_registration_path, class: "cinema-btn" %>
  </div>
</section>

