
<section>
  <div class="title">
    <h1>Welcome to DCCinema, <%= current_user.email %> </h1>
    <p class="choose-cinema-title">Choose your cinema</p>
    <% current_user %>
  </div>
  <div class="cinema-list-container">
    <% @cinemas.each do |cinema| %>
      <%= link_to cinema.name.to_s, cinema, class: "cinema-btn" %>
    <% end %>
  </div>
</section>
<%= link_to 'Logout', destroy_user_session_path, method: :delete,  class: "logout-btn", :style=> 'color:#FFFFFF;' %>
